## Understanding and Cleaning data
### Problem Statement:
Investingating Factor Affecting Gross Domestic Product (GDP)

In [152]:
import pandas as pd
import matplotlib.pyplot as pylt
import numpy as np
%matplotlib inline

### Import dataset

In [153]:
data = pd.read_csv("Drivers of GDP per Capita.csv")
data.head()

,Country Name,Country Code,year,Access to electricity (% of pop),Agricultural land (% of land area),Agricultural raw materials exports (% ),Agricultural raw materials imports (%),Agriculture value added (% of GDP),Arable land (% of land area),Average precipitation in depth (mm per year),CPIA gender equality rating (1=low to 6=high),"Death rate, crude (per 1,000 people)",Employment in agriculture (% of total employment),Fertilizer consumption (% of fertilizer production),"Literacy rate, adult total (% of people ages 15 and above)",Livestock production index,Mineral rents (% of GDP),Population,Rural population (% of total population),GDP per capita (US$)
0,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.219,NaN,NaN,NaN,NaN,NaN,8996973.0,91.599,59.773194
1,Afghanistan,AFG,1961,NaN,57.745918,NaN,NaN,NaN,11.717673,NaN,NaN,31.649,NaN,NaN,NaN,43.37,NaN,9169410.0,91.316,59.860874
2,Afghanistan,AFG,1962,NaN,57.837821,53.755852,0.966617,NaN,11.794259,327.0,NaN,31.093,NaN,NaN,NaN,43.99,NaN,9351441.0,91.024,58.458015
3,Afghanistan,AFG,1963,NaN,57.914407,61.100605,1.394438,NaN,11.870845,NaN,NaN,30.551,NaN,NaN,NaN,47.03,NaN,9543205.0,90.724,78.706388
4,Afghanistan,AFG,1964,NaN,58.010906,54.437183,1.498234,NaN,11.947431,NaN,NaN,30.022,NaN,NaN,NaN,48.56,NaN,9744781.0,90.414,82.095231

In [154]:
# genarilized columns
gen_row = pd.read_csv("Generalized Rows.csv")
gen_row.head()

  Country Code                                 Country Name
0          CSS                       Caribbean small states
1          EAP  East Asia & Pacific (excluding high income)
2          EMU                                    Euro area
3          EUU                               European Union
4          FCS     Fragile and conflict affected situations

In [155]:
regions_df = pd.read_csv('Region_dataset.csv')
regions_df.head()

  Country Code  Region
0          AFG    Asia
1          ALB  Europe
2          DZA  Africa
3          AND  Europe
4          AGO  Africa

### Informative Summary

In [156]:
# data shape
data.shape

(16043, 20)

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16043 entries, 0 to 16042
Data columns (total 20 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Country Name                                                16043 non-null  object
 1   Country Code                                                16043 non-null  object
 2   year                                                        16043 non-null  int64
 3   Access to electricity (% of pop)                            6153 non-null   float64
 4   Agricultural land (% of land area)                          12999 non-null  float64
 5   Agricultural raw materials exports (% )                     8911 non-null   float64
 6   Agricultural raw materials imports (%)                      8939 non-null   float64
 7   Agriculture value added (% of GDP)                          9670 non-null   float64
 8   Arable land (% of land area)                                12862 non-null  float64
 9   Average precipitation in depth (mm per year)                2068 non-null   float64
 10  CPIA gender equality rating (1=low to 6=high)               1723 non-null   float64
 11  Death rate, crude (per 1,000 people)                        14433 non-null  float64
 12  Employment in agriculture (% of total employment)           6960 non-null   float64
 13  Fertilizer consumption (% of fertilizer production)         1810 non-null   float64
 14  Literacy rate, adult total (% of people ages 15 and above)  2460 non-null   float64
 15  Livestock production index                                  12595 non-null  float64
 16  Mineral rents (% of GDP)                                    10788 non-null  float64
 17  Population                                                  15611 non-null  float64
 18  Rural population (% of total population)                    15532 non-null  float64
 19  GDP per capita (US$)                                        12309 non-null  float64
dtypes: float64(17), int64(1), object(2)
memory usage: 2.4+ MB

## Data Cleaning

### Filter your dataset such that you return a dataframe that has zero null values for the response variable `GDP per capita (US$)`

In [158]:
filtered_df = data.dropna(subset= ["GDP per capita (US$)"])

# Check if all null value have been droped
filtered_df["GDP per capita (US$)"].isnull().sum()

0

### Remove rows where 50 % or more predictor variables have null values.

In [159]:
response_var = ["Country Name", "Country Code", "year", "GDP per capita (US$)"]
# predictor variables
predictor_var = [col for col in filtered_df.columns if col not in response_var]
# calculate percentage for null value
percentage_null = filtered_df[predictor_var].isnull().sum(axis=1) / len(predictor_var)
# filter row with half or more null value
filtered_df = filtered_df[percentage_null < 0.5]
filtered_df.shape

(9435, 20)

### Remove four predictors that has the least non-null values

In [160]:
# least predictor variable with the least non-null value
predictor_least_non_null = filtered_df[predictor_var].count().nsmallest(4).index

# drop the variables
filtered_df = filtered_df.drop(columns=predictor_least_non_null)

In [161]:
filtered_df.shape

(9435, 16)

### Within the dataset, there are rows that are generalized to region or continent
Remove rows that correspond to the data in this CSV file: gen_rows

In [162]:
# Identify the rows in the main dataset that match the generalized regions or continents
gen_country = gen_row["Country Name"].unique()
rows_to_remove = filtered_df[filtered_df['Country Name'].isin(gen_country)].index

# Remove those rows from the main dataset
filtered_df = filtered_df.drop(rows_to_remove)
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8628 entries, 2 to 16040
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       8628 non-null   object
 1   Country Code                                       8628 non-null   object
 2   year                                               8628 non-null   int64
 3   Access to electricity (% of pop)                   5055 non-null   float64
 4   Agricultural land (% of land area)                 8227 non-null   float64
 5   Agricultural raw materials exports (% )            7333 non-null   float64
 6   Agricultural raw materials imports (%)             7341 non-null   float64
 7   Agriculture value added (% of GDP)                 7500 non-null   float64
 8   Arable land (% of land area)                       8224 non-null   float64
 9   Death rate, crude (per 1,000 people)               8580 non-null   float64
 10  Employment in agriculture (% of total employment)  5495 non-null   float64
 11  Livestock production index                         8183 non-null   float64
 12  Mineral rents (% of GDP)                           8239 non-null   float64
 13  Population                                         8628 non-null   float64
 14  Rural population (% of total population)           8628 non-null   float64
 15  GDP per capita (US$)                               8628 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 1.1+ MB

### Most data released before 1990 have lot of null value

In [163]:
# Convert 'year' column to datetime type
filtered_df['year'] = pd.to_datetime(filtered_df['year'], format='%Y')

# drop data from 1990 and below
filtered_df = filtered_df[filtered_df["year"] >= '1990']
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5909 entries, 42 to 16040
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       5909 non-null   object
 1   Country Code                                       5909 non-null   object
 2   year                                               5909 non-null   datetime64[ns]
 3   Access to electricity (% of pop)                   5055 non-null   float64
 4   Agricultural land (% of land area)                 5514 non-null   float64
 5   Agricultural raw materials exports (% )            4826 non-null   float64
 6   Agricultural raw materials imports (%)             4818 non-null   float64
 7   Agriculture value added (% of GDP)                 5526 non-null   float64
 8   Arable land (% of land area)                       5511 non-null   float64
 9   Death rate, crude (per 1,000 people)               5865 non-null   float64
 10  Employment in agriculture (% of total employment)  5495 non-null   float64
 11  Livestock production index                         5464 non-null   float64
 12  Mineral rents (% of GDP)                           5909 non-null   float64
 13  Population                                         5909 non-null   float64
 14  Rural population (% of total population)           5909 non-null   float64
 15  GDP per capita (US$)                               5909 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 784.8+ KB

In [164]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5909 entries, 42 to 16040
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       5909 non-null   object
 1   Country Code                                       5909 non-null   object
 2   year                                               5909 non-null   datetime64[ns]
 3   Access to electricity (% of pop)                   5055 non-null   float64
 4   Agricultural land (% of land area)                 5514 non-null   float64
 5   Agricultural raw materials exports (% )            4826 non-null   float64
 6   Agricultural raw materials imports (%)             4818 non-null   float64
 7   Agriculture value added (% of GDP)                 5526 non-null   float64
 8   Arable land (% of land area)                       5511 non-null   float64
 9   Death rate, crude (per 1,000 people)               5865 non-null   float64
 10  Employment in agriculture (% of total employment)  5495 non-null   float64
 11  Livestock production index                         5464 non-null   float64
 12  Mineral rents (% of GDP)                           5909 non-null   float64
 13  Population                                         5909 non-null   float64
 14  Rural population (% of total population)           5909 non-null   float64
 15  GDP per capita (US$)                               5909 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 784.8+ KB

## Imputing Missing Values

Create helper function `calculate_null_percentage`  for calculating the percentage of null values for that predictor variable with respect to the total total rows for that particular country.

In [165]:
# test data for our function
test_data = filtered_df.copy()
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5909 entries, 42 to 16040
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       5909 non-null   object
 1   Country Code                                       5909 non-null   object
 2   year                                               5909 non-null   datetime64[ns]
 3   Access to electricity (% of pop)                   5055 non-null   float64
 4   Agricultural land (% of land area)                 5514 non-null   float64
 5   Agricultural raw materials exports (% )            4826 non-null   float64
 6   Agricultural raw materials imports (%)             4818 non-null   float64
 7   Agriculture value added (% of GDP)                 5526 non-null   float64
 8   Arable land (% of land area)                       5511 non-null   float64
 9   Death rate, crude (per 1,000 people)               5865 non-null   float64
 10  Employment in agriculture (% of total employment)  5495 non-null   float64
 11  Livestock production index                         5464 non-null   float64
 12  Mineral rents (% of GDP)                           5909 non-null   float64
 13  Population                                         5909 non-null   float64
 14  Rural population (% of total population)           5909 non-null   float64
 15  GDP per capita (US$)                               5909 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 784.8+ KB

In [166]:
def calculate_null_percentage(df, country_name, predictor_column):
    """
    Calculate the percentage of null values for a specific predictor variable
    with respect to the total rows for a particular country.

    Parameters:
    - df: DataFrame containing the data
    - country_name: Name of the country
    - predictor_column: Name of the predictor column

    Returns:
    - Percentage of null values for the predictor variable with respect to the total rows for the country
    """
    # Filter the DataFrame for the specified country
    country_df = df[df['Country Name'] == country_name]
    
    # Count the total number of rows for the country
    total_rows = len(country_df)
    
    # Count the number of null values for the predictor column
    null_count = country_df[predictor_column].isnull().sum()
    
    # Calculate the percentage of null values
    null_percentage = (null_count / total_rows) * 100
    
    return null_percentage

# Example:
percentage_null = calculate_null_percentage(test_data, 'Zimbabwe', 'Access to electricity (% of pop)')
print(percentage_null)

6.896551724137931

### Automation of imputing null value

In [167]:
def impute_missing_values(df, columns_to_impute):
    """
    Impute missing values in the specified columns with the mean value.

    Parameters:
    - df: DataFrame containing the data
    - columns_to_impute: List of column names to be imputed

    Returns:
    - DataFrame with null values filled
    """
    for column in columns_to_impute:
        # Calculate the mean value of the column
        mean_value = df[column].mean()
        
        # Fill null values with the mean value
        df[column].fillna(mean_value, inplace=True)
    
    return df

In [168]:
# column with missing value
columns_to_impute = ['Access to electricity (% of pop)', 'Agricultural land (% of land area)', 'Agricultural raw materials exports (% )', 'Agricultural raw materials imports (%)', 'Agriculture value added (% of GDP)', 'Arable land (% of land area)', 'Death rate, crude (per 1,000 people)',  'Employment in agriculture (% of total employment)', 'Livestock production index']
# input missing value with the mean
impute_missing_values(test_data, columns_to_impute).info()

<class 'pandas.core.frame.DataFrame'>
Index: 5909 entries, 42 to 16040
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       5909 non-null   object
 1   Country Code                                       5909 non-null   object
 2   year                                               5909 non-null   datetime64[ns]
 3   Access to electricity (% of pop)                   5909 non-null   float64
 4   Agricultural land (% of land area)                 5909 non-null   float64
 5   Agricultural raw materials exports (% )            5909 non-null   float64
 6   Agricultural raw materials imports (%)             5909 non-null   float64
 7   Agriculture value added (% of GDP)                 5909 non-null   float64
 8   Arable land (% of land area)                       5909 non-null   float64
 9   Death rate, crude (per 1,000 people)               5909 non-null   float64
 10  Employment in agriculture (% of total employment)  5909 non-null   float64
 11  Livestock production index                         5909 non-null   float64
 12  Mineral rents (% of GDP)                           5909 non-null   float64
 13  Population                                         5909 non-null   float64
 14  Rural population (% of total population)           5909 non-null   float64
 15  GDP per capita (US$)                               5909 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 784.8+ KB

We need to perform a mean imputation for missing values per country
for columns that have less than 10% of missing values. Write a
function that takes the dataframe and predictor variables as input
parameters, uses the function in `calculate_null_percentage` above to calculate the percentage
of missing values for each predictor variable for each country. The
function should return a dictionary with countries as keys and a list of
predictors to be imputed for each country.

In [169]:
def values_to_change(df,predictors):
    """
    Return dictonary with the country and name of the column to impute missing value
    
    Parameters:
        - df: Dataframe
        - predictors: (list) name of the column to impute
    Return:
        to_impute: (dict) country and name of the column to impute
    
    """
    to_impute = {}
    for country in df['Country Name'].unique():
        col=[]
        for p in predictors:
            null_perc = calculate_null_percentage(df,country,p)
            if null_perc<10:
                col.append(p)
        to_impute[country] = col
    return to_impute

In [170]:
values_to_change(test_data, columns_to_impute)['Algeria']

['Access to electricity (% of pop)',
 'Agricultural land (% of land area)',
 'Agricultural raw materials exports (% )',
 'Agricultural raw materials imports (%)',
 'Agriculture value added (% of GDP)',
 'Arable land (% of land area)',
 'Death rate, crude (per 1,000 people)',
 'Employment in agriculture (% of total employment)',
 'Livestock production index']

In [171]:
imputed_df = pd.DataFrame()
country = values_to_change(filtered_df, columns_to_impute)
for c in country.keys():
    country_data = filtered_df[filtered_df['Country Name'] == c].reindex()
    returned_df = impute_missing_values(country_data, country[c])
    imputed_df = pd.concat([imputed_df, returned_df], ignore_index=True)

In [172]:
cleaned_df = imputed_df.dropna()

In [173]:
# drop null value
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3801 entries, 6 to 5908
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       3801 non-null   object
 1   Country Code                                       3801 non-null   object
 2   year                                               3801 non-null   datetime64[ns]
 3   Access to electricity (% of pop)                   3801 non-null   float64
 4   Agricultural land (% of land area)                 3801 non-null   float64
 5   Agricultural raw materials exports (% )            3801 non-null   float64
 6   Agricultural raw materials imports (%)             3801 non-null   float64
 7   Agriculture value added (% of GDP)                 3801 non-null   float64
 8   Arable land (% of land area)                       3801 non-null   float64
 9   Death rate, crude (per 1,000 people)               3801 non-null   float64
 10  Employment in agriculture (% of total employment)  3801 non-null   float64
 11  Livestock production index                         3801 non-null   float64
 12  Mineral rents (% of GDP)                           3801 non-null   float64
 13  Population                                         3801 non-null   float64
 14  Rural population (% of total population)           3801 non-null   float64
 15  GDP per capita (US$)                               3801 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 504.8+ KB

In [174]:
# Merge the datasets on the 'Country Code' column
merged_df = pd.merge(cleaned_df, regions_df, on='Country Code', how='left')

# reorder the columns to make 'Region' the second column
merged_df = merged_df[['Country Name', 'Country Code', 'Region'] + [col for col in merged_df.columns if col not in ['Country Name', 'Country Code', 'Region']]]

In [175]:
cleaned_df = merged_df.copy()
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3801 entries, 0 to 3800
Data columns (total 17 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Name                                       3801 non-null   object
 1   Country Code                                       3801 non-null   object
 2   Region                                             3801 non-null   object
 3   year                                               3801 non-null   datetime64[ns]
 4   Access to electricity (% of pop)                   3801 non-null   float64
 5   Agricultural land (% of land area)                 3801 non-null   float64
 6   Agricultural raw materials exports (% )            3801 non-null   float64
 7   Agricultural raw materials imports (%)             3801 non-null   float64
 8   Agriculture value added (% of GDP)                 3801 non-null   float64
 9   Arable land (% of land area)                       3801 non-null   float64
 10  Death rate, crude (per 1,000 people)               3801 non-null   float64
 11  Employment in agriculture (% of total employment)  3801 non-null   float64
 12  Livestock production index                         3801 non-null   float64
 13  Mineral rents (% of GDP)                           3801 non-null   float64
 14  Population                                         3801 non-null   float64
 15  Rural population (% of total population)           3801 non-null   float64
 16  GDP per capita (US$)                               3801 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(3)
memory usage: 504.9+ KB